<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input id="fnameInput" type="email" placeholder="please enter first name" />
    <input id="lnameInput" type="password" placeholder="please enter last name"/>
    <input id="emailInput" type="email" placeholder="please enter email" />
    <input id="passwordInput" type="password" placeholder="please enter password"/>
    <button onclick="register()">Login</button>

    <p id="registerStatus"></p>

    <script src="register.js"></script>
</body>
</html>